body{
  background-color: #F5F8FF;
  font-family: "Raleway", sans-serif;
}

/* Font Style  */
 .raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
 .inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.primary-color{
  color:#4E47FF ;
}
.button{
  color: white;
  background-color: #4E47FF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.button:hover{
  color: #4E47FF;
  font-weight: 600;
  background-color:#F5F8FF;
  border: 2px solid #4E47FF;
}
/* header */
header{
  background-image: url(/Assets/Hero-bg.png);
  height: 700px;
 
}

/* Navigation Bar  */
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px;
 }
 .logo{
  color:#4E47FF ;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 800;
 }
 nav button{
  height: 48px;
  width: 132px;

 }
 /* Hero Banner  */
 .banner{
  margin: 150px auto 200px auto;
  text-align: center;
  width: 905px;
  height: 226px;
  
 }
.banner-title{
  font-size: 2em;
}
.banner button{
  width: 180px;
  height: 50px;
  font-size: 16px;
  margin-top: 35px;
  
}
/* Main Section  */
main{
  margin: 100px 150px;
}